In [1]:
from scipy.stats import ttest_ind
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Advertising_w9.csv")

In [3]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df.shape

(200, 5)

In [5]:
df.isna().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [6]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [9]:
from scipy.stats import f_oneway

b=np.array(df['TV'])
c=np.array(df['Radio'])
d=np.array(df['Newspaper'])
e=np.array(df['Sales'])
F,p = f_oneway( b, c, d, e)

#F,p = f_oneway(df['TV'],df['Radio'],df['Newspaper'],df['Sales'])

print("The F-statistic is {0} \n p-value is {1}".format(F,p))

if p<0.05:
    print("Reject null hypothesis, which indicates amount spent is different.")
else:
    print("Accept null hypothesis, which indicates amount spent is same.")

The F-statistic is 387.1443086202217
 p-value is 5.150514456276615e-155
Reject null hypothesis, which indicates amount spent is different.