Case Study on Testing of Hypothesis
A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.
● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.
● The company needs to check whether there is any dependency between the
features “Region” and “Manager”

In [1]:
from scipy.stats import ttest_ind
import scipy.stats as stats
from scipy.stats import chi2_contingency
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Sales_add.csv")

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
df.shape

(22, 5)

In [6]:
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

H0 = The company sales has no difference before and after digital marketing
H1 = The company sales has grown after the digital marketing

In [7]:
x=np.array(df['Sales_before_digital_add(in $)'])
y=np.array(df['Sales_After_digital_add(in $)'])
print(x)
print(y)

[132921 149559 146278 152167 159525 137163 130625 131140 171259 141956
 159339 178939 145062 151514 147463 177195 140862 167996 132135 152493
 147425 130263]
[270390 223334 244243 231808 258402 256948 222106 230637 226261 193735
 203175 276279 205180 253131 229336 187305 234908 191517 227040 212579
 263388 243020]

In [8]:
ttest,pval= ttest_ind(x,y,alternative='two-sided')
print(pval)

2.614368006904645e-16

In [9]:
if(pval>0.05):
    print("we accept the null hypothesis that there is not much difference after the digital marketing")
else:
    print("we reject the null hypothesis, ie we accept the alternate hypothesis that the sales increased after digital marketing")

we reject the null hypothesis, ie we accept the alternate hypothesis that the sales increased after digital marketing

In [10]:
x.mean()

149239.95454545456

In [11]:
y.mean()

231123.72727272726

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager”

In [12]:
#H0 the null hypothesis is that there is no significant relationship between ‘Region’ and ‘Manager’.
#H1 The alternative hypothesis is that there is significant relationship between ‘Region’ and ‘Manager’.

In [13]:
dependa_reg=df[['Region','Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].groupby('Region').mean()
display(dependa_reg)
dependa_Man=df[['Manager','Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].groupby('Manager').mean()
display(dependa_Man)

            Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Region
Region - A                   148204.900000                  238853.100000
Region - B                   150523.571429                  228727.857143
Region - C                   149513.000000                  219019.200000

             Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Manager
Manager - A                   145875.222222                  244402.666667
Manager - B                   155499.285714                  218899.142857
Manager - C                   146984.500000                  225467.333333

In [14]:
print(df['Region'].value_counts())
print(df['Manager'].value_counts())

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64
Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [15]:
ct=pd.crosstab(df.Region, df.Manager)

#ct=pd.crosstab(df.Region, df.Manager,Margin=True)
row_sum=ct.iloc[0:4].values
row_sum

array([[4, 3, 3],
       [4, 1, 2],
       [1, 3, 1]], dtype=int64)

In [16]:
stat, p, dof, expected = chi2_contingency(ct)
print(chi2_contingency(ct))

alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

(3.050566893424036, 0.5493991051158094, 4, array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))
p value is 0.5493991051158094
Independent (H0 holds true)

In [17]:
#as p value > alpha value  , we accept H0, that is, the features do not have a significant relation. They are independent.